# MSVC Makefile (for use with Visual Studio 'nmake' and 'cl')

CC = cl

CFLAGS = /W4 /WX /std:c++23preview /EHsc /Od /Zi /utf-8

SRCS = wutils.cpp testwutils.cpp
OBJS = $(SRCS:.cpp=.obj)

TARGET = testwutils.exe

all: $(TARGET)

# Rule to link the object files into the executable.
$(TARGET): $(OBJS)
	$(CC) $(CFLAGS) $(OBJS) /Fe$@

# Rule to compile a C++ source file into an object file.
.cpp.obj:
	$(CC) $(CFLAGS) $(INCLUDES) /c $< /Fo$@

# Phony targets
clean:
	@ECHO Deleting build files...
	-if exist $(TARGET) del $(TARGET)
	-if exist *.obj del *.obj
	@ECHO Clean complete.
